---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="À Propos de Fadma.be">
  <PageHeader
    title="À Propos de Fadma.be"
    subtitle="Fadma.be est né d'une passion profonde et d'une volonté ardente de mettre en lumière la grandeur de la culture Amazighe Rifaine."
    bgType="bordered"
  />
  <section class="narrow container my-16">
    <div class="space-content">
      <h2>Votre Fenêtre sur la Culture Amazighe du Rif</h2>
      <p>
        Bienvenue sur Fadma.be, un espace dédié à l'âme vibrante et à la richesse inouïe de <strong>la culture Amazighe du Rif</strong>. Ici, chaque mot, chaque image, chaque histoire est une invitation à un voyage au cœur d'un patrimoine millénaire, souvent méconnu, mais d'une authenticité et d'une profondeur exceptionnelles.
      </p>

      <h2>Notre Mission : Célébrer, Préserver, Inspirer</h2>
      <p>
        Fadma.be est né d'une passion profonde et d'une volonté ardente de mettre en lumière la grandeur de la culture Amazighe Rifaine. Notre mission est triple :
      </p>

      <ul class="list-inside list-disc">
        <li><strong>Célébrer :</strong> Mettre en valeur la beauté, la résilience et la créativité d'un peuple fier, à travers ses traditions, son art, sa cuisine, sa musique et sa langue.</li>
        <li><strong>Préserver : </strong>Contribuer à la sauvegarde et à la transmission d'un héritage oral et matériel précieux, menacé par le temps et l'oubli, en le documentant et en le rendant accessible.</li>
        <li><strong>Inspirer :</strong>Offrir une source d'inspiration et de connexion, tant pour celles et ceux qui portent cette culture en eux, que pour ceux qui souhaitent la découvrir et l'apprécier.</li>
      </ul>

      <p>Nous croyons fermement que connaître ses racines est essentiel pour comprendre le monde et se construire un avenir solide. Fadma.be est votre passerelle vers cette connaissance, une exploration respectueuse et passionnante.</p>

      <h2>Ce Que Vous Trouverez sur Fadma.be</h2>
      <p>
        Vous découvrirez une immersion riche et variée dans l'univers Amazigh du Rif :
      </p>
      
      <ul class="list-inside list-disc">
        <li><strong>Articles Approfondis :</strong> De l'histoire fascinante de Yennayer à la résilience de la Femme Amazighe, en passant par la simplicité savoureuse de la cuisine Rifaine, chaque article est une exploration détaillée.</li>
        <li><strong>Sagesse Ancestrale :</strong> Plongez dans les proverbes rifains, ces condensés de sagesse qui ont guidé des générations, et découvrez leur pertinence aujourd'hui.</li>
        <li><strong>Contes et Fables :</strong> Laissez-vous emporter par la magie des récits traditionnels Rifains, où animaux et humains se côtoient pour enseigner des leçons de vie intemporelles.</li>
        <li><strong>Art et Savoir-Faire :</strong> Admirez la beauté de l'artisanat local, de la poterie aux tapis, et comprenez les mains qui perpétuent ces traditions.</li>
      </ul>

      <h2>Notre Engagement</h2>
      <p>
        Fadma.be est un projet porté par l'authenticité et le respect. Nous nous engageons à vous offrir un contenu de qualité, rigoureux et fidèle à l'esprit de la culture Amazighe Rifaine, en puisant dans des sources fiables et en valorisant la voix de ceux qui la vivent et la transmettent.
      </p>

      <p>
        Nous vous invitons à explorer, à apprendre et à vous laisser inspirer par la richesse d'une culture qui, malgré les défis, continue de rayonner par sa force, sa beauté et sa sagesse. Merci de faire partie de notre aventure.
      </p>

      
      <p>
        Fadma.be : Votre Passerelle vers le Cœur du Rif Amazigh.
      </p>

    </div>
  </section>
</DefaultLayout>
