---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import {
  Accordion,
  AccordionItem,
} from 'accessible-astro-components'
---

<DefaultLayout title="Échangeons et Partageons !">
  <PageHeader
    title="Échangeons et Partageons !"
    subtitle="Chez Fadma.be, nous sommes ravis de tisser des liens avec notre communauté et tous ceux qui s'intéressent à la richesse de la culture Amazighe du Rif."
    bgType="bordered"
  />
  <section class="narrow container my-16">
    <div class="space-content">
      <h2>Merci pour votre visite !</h2>
      <p>
        Chez Fadma.be, nous sommes ravis de tisser des liens avec notre communauté et tous ceux qui s'intéressent à la richesse de la culture Amazighe du Rif.
      </p>
      <p>Que vous ayez une question, une suggestion, un témoignage à partager, une collaboration à proposer, ou simplement l'envie de nous saluer, nous sommes là pour vous écouter.</p>
      <p>
        Votre curiosité et votre passion sont notre plus grande source d'inspiration. N'hésitez pas à nous contacter !
      </p> 

      <ul class="list-inside list-disc">
        <li><strong>Par E-mail Direct :</strong> <a href="#">rifadma@gmail.com</a></li>
        <li><strong>Facebook :</strong> <a href="https://www.facebook.com/culture.amazighe/">https://www.facebook.com/culture.amazighe/</a></li>
        <li><strong>YouTube :</strong> <a href="https://www.youtube.com/@fadmabe">https://www.youtube.com/@fadmabe</a></li>
        <li><strong>Instagram :</strong> <a href="https://www.instagram.com/culture.amazighe/">https://www.instagram.com/culture.amazighe/</a></li>
        <li><strong>TikTok :</strong> <a href="https://www.tiktok.com/@fadma.be">https://www.tiktok.com/@fadma.be</a></li>
      </ul>


<p>Nous avons hâte de vous lire et de continuer à construire ensemble ce pont entre les cultures !</p>

    </div>
  </section>
</DefaultLayout>
