---
import CallToAction from './CallToAction.astro'
import ExternalLink from './ExternalLink.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-20">
    <h2 class="sr-only">Footer</h2>
    <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Navigation</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/">Accueil</a></li>
          <li><a href="/hub">Articles</a></li>
          <li><a href="/about">A Propos</a></li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Culture Rif</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/hub/tennayi-henna">Tennay Henna</a></li>
          <li><a href="/hub/femme-amazighe">Femme Amazighe</a></li>
          <li><a href="/hub/izran-narif">Izran Narif</a></li>
          <li><a href="hub/contes-rifains">Contes Rifains</a></li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Notre communauté</h3>
        <ul class="flex flex-col gap-2">
          <li>
            <ExternalLink href="https://www.facebook.com/culture.amazighe/">Facebook</ExternalLink>
          </li>
          <li>
            <ExternalLink href="https://www.youtube.com/@fadmabe">Youtube</ExternalLink>
          </li>
          <li>
            <ExternalLink href="https://www.instagram.com/culture.amazighe/"
              >Instagram</ExternalLink
            >
          </li>
          <li>
            <ExternalLink href="https://www.tiktok.com/@fadma.be"
              >TikTok</ExternalLink
            >
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <Logo loading="lazy" />
        <p class="leading-[1.75]">
          La culture Amazighe du Rif. Seul ce qui dure à travers les siècles peut revendiquer le statut d'un objet culturel.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Passerelle vers la <a href="https://www.fadma.be/">culture amazighe</a>.
      </p>
      <p>
        Made with ❤️ by <a href="https://www.fadma.be">Fadma.Be</a>. Part of <a
          href="https://www.fadma.be">AzriDesign</a
        >.
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
