---
import Navigation from '../components/Navigation.astro'
import { DarkMode, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/">Accueil</a>
    </li>
    <li class="menu-item">
      <a href="/about/">Story</a>
    </li>
    <li class="menu-item">
      <a href="/hub/">Hub</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Notre communauté
        <Icon name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/about">À Propos</a>
        </li>
        <li class="submenu-item">
          <a href="/aide">Aide</a>
        </li>
        <li class="submenu-item">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </li>
    <li class="menu-item highlight">
      <a href="/hub/izran-narif">Izran </a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <a href="https://www.youtube.com/@fadmabe">
        <Icon name="lucide:youtube" />
        <span class="sr-only">Allez sur Youtube</span>
      </a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon name="lucide:moon" slot="light" />
        <Icon name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
